@font-face {
  font-family: "iconfont"; /* Project id 3410804 */
  src: url('//at.alicdn.com/t/font_3410804_qfgvyjjc2f.woff2?t=1652859823536') format('woff2'),
       url('//at.alicdn.com/t/font_3410804_qfgvyjjc2f.woff?t=1652859823536') format('woff'),
       url('//at.alicdn.com/t/font_3410804_qfgvyjjc2f.ttf?t=1652859823536') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coolapk:before {
  content: "\e600";
}

.icon-qq:before {
  content: "\e684";
}

.icon-mail:before {
  content: "\e6ff";
}

.icon-github:before {
  content: "\e728";
}

